.address {
    font-style: normal;

}


.address__item+.address__item {
    margin-top: 5px;
}

.address__link {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;

    color: var(--main-bg-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link--opacity {
    opacity: 0.6;
}

.address__link:hover,
.address__link:focus {
    color: var(--accent-color);
}